table{
    background-color: aqua;
}
.type{
    background-color: brown;
}
#id{
    background-color: purple;
}
#i{
    background-color: lightcoral;
}
#l{
    background-color: purple;
}
#a{
    background-color: lightcoral;
}
#c{
    background-color: purple;
}
#h{
    background-color: lightcoral;
}